In [18]:
import pandas as pd

In [28]:
data = pd.read_csv('test.csv')

In [29]:
data

,city,state,zip_code,income_2021,income_2000,land_area,latitude,longitude,population
0,Wasilla,AK,99654.0,$61943,$48226,11.70,61.58 N,149.45 W,"9,456 (90% urban, 10% rural)."
1,Tanaina,AK,99654.0,$81202,$64491,27.10,61.62 N,149.43 W,"8,197."
2,Wind River,WY,82501.0,$52906,$30981,3051.30,43.14 N,108.63 W,"24,157."
3,Wheeling,WV,26003.0,$43794,$27388,13.90,40.07 N,80.70 W,"26,568 (100% urban, 0% rural)."
4,Wisconsin Rapids,WI,54494.0,$42326,$34956,13.30,44.39 N,89.82 W,"18,738 (98% urban, 2% rural)."
...,...,...,...,...,...,...,...,...,...
1814,Melrose,MA,2176.0,$126320,$62811,4.69,42.46 N,71.06 W,"29,312 (100% urban, 0% rural)."
1815,Medway,MA,2053.0,$136640,$75135,11.50,42.15 N,71.42 W,"12,752."
1816,Medford,MA,2145.0,$108793,$52476,8.14,42.42 N,71.11 W,"62,098 (100% urban, 0% rural)."
1817,Medfield,MA,2052.0,$174699,$83358,5.03,42.19 N,71.30 W,"6,483."
1818,Maynard,MA,1754.0,$113412,$60812,5.24,42.43 N,71.46 W,"10,106."

In [30]:
data.to_excel('data.xlsx')